@import "../../../styles/config.scss";

.subscribeButton {
  height: 4rem;
  width: 260px;
  border: 0;
  border-radius: 2rem;
  background-color: map-get($map: $colors, $key: yellow-500);
  color: map-get($map: $colors, $key: gray-900);
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    border-bottom: 4px solid map-get($map: $colors, $key: cyan-500);
  }
}
