@import "../../../../../styles/config.scss";

.signInButton {
  height: 3rem;
  border-radius: 3rem;
  padding: 0 1.5rem;
  background-color: map-get($map: $colors, $key: gray-850);
  border: 0;
  color: map-get($map: $colors, $key: white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: 0.3s;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  &:hover {
    filter: brightness(0.84);
  }
}
